body {
  width: 100vw;
  height: 100vh;
  background-color: #89c15e;
  position: relative;
  font-family: 'Roboto', sans-serif;
  
}
.score{
    position: relative;
    color: white;
    top:10%;
    left:15%;
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 13px;
    width: 40rem;
    display: flex;
    /* gap: 10px; */
    .description{
        h1{
            margin: 0px;
            padding: 0px;
            font-weight: 40px;
        }
       
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.rps-triangle {
    position: relative;
    width: 20rem;
    height: 20rem;
    top:20%;
    left:20%;
  .line {
    height: 1rem;
    background-color: #000000;
    opacity: 0.64;
    width: 18rem;
    position: absolute;
  }
 
  .line1 {
    top: 6rem;
    left: 7rem;
  }
  .line2 {
    top: 14rem;
    left: 3rem;
    transform: rotate(51deg);
  }
  .line3 {
    top: 12rem;
    left: 12rem;
    transform: rotate(120deg);
  }
}
 .circle {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .circle1 {
    top: 3rem;
    left: 5rem;
    border: 1rem solid #0074B6;
    background-image: url("scissor.png");
    
  }
  .circle2 {
    top: 3rem;
    left: 19rem;
    border: 1rem solid #BD00FF;
    background-image: url("paper.png");
  }
  .circle3 {
    top:14rem;
    left:13rem;
    border: 1rem solid #FFA943;
    background-image: url("rock.png");
  }
.box{
    display: flex;
    padding: 0.25rem;
    width: 30%;
    height: 6rem;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: right; */
    text-align: center;
    align-content: right;
    gap: 2px;
    /* margin: 1rem; */
    margin-left: 1rem;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    border-radius: 8px;
    h1{
        padding: 0px;
        margin:0px;
        font-size: 60px;
        height: 40%;
    }
     h4{
            color:#656565;
            font-size: 17px;
            height: 40%;
            padding: 0px;
            margin: 0px;
        }
}
button{
    border:2px solid white;
    border-radius: 10px;
    font-size: 14px;
    color:white;
    padding: 8px 32px;
     background-color: transparent;
     cursor: pointer;
     font-weight: bold
;
}
.rules-btn{
    right: 2%;
    bottom: 5%;
    position: absolute;
}
.next-btn{
    right: 2%;
    bottom: 5%;
    position: absolute;
    display: none;
}
.rules-popup{
    display: none;
    width:19rem;
    height: 20rem;
    border-radius: 10px;
    border: 8px solid white;
    background-color: #004429;
    color: white;
    padding: 1rem;
    position:absolute;
    right: 2%;
    bottom: 13%;
    h1{
        text-align: center;
    }
    li{
        margin-bottom: 10px;
        list-style-type: square;
    }
    li::marker{
    color: #FFD600;
    }
}
.cancel-btn{
    position: absolute;
    top: -45px;
    right: -25px;
    border: 8px solid white;
    font-weight: bold;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #FF0000;
    text-align: center;
    cursor: pointer;
}
.ripple-container {
  /* position: absolute;
  top: 15rem;
  left: 10rem; */
  /* width: 300px;
  height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple-container span {
  position: absolute;
  background-color: #2E9A25;
  width: 80px;
  height: 80px;
  border: 2px solid #2E9A25;
  border-radius: 50%;
  animation: ripple 4s linear infinite;
}

.decider{
    position:absolute;
    top: 20rem;
    left: 15rem;
    width: 40rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    display: none;
}
.ripple-container span:nth-child(2) {
  animation-delay: 1s;
}
.ripple-container span:nth-child(3) {
  animation-delay: 2s;
}
.ripple-container span:nth-child(4) {
  animation-delay: 3s;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
